---
import Picture from "@lib/components/Picture.astro";

interface Props {
  data: { title: string; slug: string; picture: PictureData };
  class: string;
  delay?: string | number;
}

const { class: className, data, delay = 0 } = Astro.props;
---

<a href=`#${data.slug}` class="group selection:bg-pj-yellow">
  <div style=`animation-delay:${delay}ms;`>
    <div class=`relative mx-8 my-4 sm:my-2 ${className}` role="img" aria-label=`${data.title}`>
      <div class=`relative border-5 border-pj-blue group-focus:border-white aspect-square overflow-hidden rounded-full bg-slate-600`>
        <div class="absolute inset-0 bg-pj-blue-light"></div>

        <div class="absolute inset-0 transition duration-200 group-hover:scale-105 group-focus:scale-105">
          <Picture data={data?.picture} lazy={false} sizes="250px" class="absolute inset-0 object-cover w-full h-full max-w-none" />
        </div>
      </div>

      <div class="relative left-2 -rotate-6 -mt-12 flex justify-center">
        <div class="w-40 min-h-16 bg-pj-yellow-light rounded-xl px-4 py-3 flex justify-center items-center">
          <slot />
        </div>
      </div>
    </div>
  </div>
</a>

<style>
  a > div {
    opacity: 0;
    animation: slide-fade-up 0.75s 0s cubic-bezier(0.5, 1.5, 0.5, 1) forwards;
  }
</style>
