---
import Terminaator from "@lib/svg/Terminaator.astro";
import Nublu from "@lib/svg/Nublu.astro";
import RanD from "@lib/svg/RanD.astro";
import Dimension from "@lib/svg/Dimension.astro";
import BassJackers from "@lib/svg/BassJackers.astro";
import HeroArtist from "./HeroArtist.astro";
import Rudimental from "@lib/svg/Rudimental.astro";
import Andromedik from "@lib/svg/Andromedik.astro";
import Smilers from "@lib/svg/Smilers.astro";

interface Props {
  artistsData: ArtistData[];
}

const { artistsData } = Astro.props;

let mainArtistsList = [
  "dimension",
  "rudim3ntal",
  "bassjackers",
  "andromedik",
  "ran-d",
  "nublu",
  "terminaator",
  "smilers",
];

let mainArtistsData: Record<string, { title: string; slug: string; picture: PictureData }>;

let otherArtistsData: ArtistData[];

const delayStep = 100;
let delayIndex = 0;
function nextDelay() {
  return delayIndex++ * delayStep;
}

function compareByName(a: ArtistData, b: ArtistData) {
  return a.name.localeCompare(b.name);
}

const mainArtistsArray = artistsData.filter((item) => mainArtistsList.includes(item.slug));
otherArtistsData = artistsData.filter((item) => !mainArtistsList.includes(item.slug));

// Convert main artists array to object
mainArtistsData = mainArtistsArray.reduce((obj, artist) => {
  let id = artist.slug;
  const newItem = { picture: artist.picture, title: artist.name, slug: artist.slug };
  return { ...obj, [id]: newItem };
}, {});

otherArtistsData.sort(compareByName); // Sort by name
// otherArtistsData.sort((f, s) => (f.name.toLowerCase() === "nublu" ? -1 : 1)); //Set Nublu as first item
---

<script>
  import { gsap } from "gsap";

  function init() {
    if (document.querySelector("#local-artists")) {
      const heroSection = document.getElementById("local-artists") as HTMLElement;
      gsap.from(heroSection, { duration: 3, delay: 0, opacity: 0, y: 200, ease: "power4.out" });
    }
  }

  document.addEventListener("astro:after-swap", () => {
    init();
  });

  init();
</script>

<div class="flex flex-col items-center">
  <div class="flex flex-wrap items-center justify-center mt-6 lg:mt-16">
    <HeroArtist data={mainArtistsData["ran-d"]} class="w-48 lg:top-3 lg:w-36" delay={nextDelay()}>
      <RanD class="w-full" />
    </HeroArtist>

    <HeroArtist data={mainArtistsData["dimension"]} class="w-48 lg:-top-1 lg:w-48" delay={nextDelay()}>
      <Dimension class="w-full" />
    </HeroArtist>

    <HeroArtist data={mainArtistsData["rudim3ntal"]} class="w-48 lg:-top-1 lg:w-48" delay={nextDelay()}>
      <Rudimental class="w-full" />
    </HeroArtist>

    <HeroArtist data={mainArtistsData["bassjackers"]} class="w-48 lg:top-3 lg:w-36" delay={nextDelay()}>
      <BassJackers class="w-full" />
    </HeroArtist>

    <HeroArtist data={mainArtistsData["andromedik"]} class="w-48 lg:-top-1 lg:w-40" delay={nextDelay()}>
      <Andromedik class="w-full" />
    </HeroArtist>

    <HeroArtist data={mainArtistsData["nublu"]} class="w-48 lg:top-2 lg:w-40" delay={nextDelay()}>
      <Nublu class="w-full" />
    </HeroArtist>

    <HeroArtist data={mainArtistsData["terminaator"]} class="w-48 lg:top-2 lg:w-40" delay={nextDelay()}>
      <Terminaator class="w-full" />
    </HeroArtist>

    <HeroArtist data={mainArtistsData["smilers"]} class="w-48 lg:-top-1 lg:w-40" delay={nextDelay()}>
      <Smilers class="w-full" />
    </HeroArtist>
  </div>

  <div
    id="local-artists"
    class="max-w-4xl mt-16 text-2xl tracking-wide text-center sm:text-3xl font-bds text-pj-cyan sm:mt-16"
  >
    {
      otherArtistsData.map((artist, index) => (
        <span>
          {index == 0 && "· "}
          <a class="outline-none hover:text-white focus:text-white" href={`#${artist.slug}`}>
            {artist.name}
          </a>
          ·
        </span>
      ))
    }
  </div>
</div>

<style>
  #local-artists {
    opacity: 0;
    animation: fade-in 1s 1s ease-out forwards;
  }
</style>
