---
import "../app.css";

import { siteData } from "@lib/store";
import { ClientRouter, fade } from "astro:transitions";

interface Props {
  language?: Language;
  title?: string;
  og?: boolean;
  schema?: boolean;
  noindex?: boolean;
  nofollow?: boolean;
}

const { language = "et", title = "", og, schema, noindex, nofollow } = Astro.props;

const data: SiteData = siteData.get();

// ADD TRAILING SLASH IF NEEDED
const base = data.base.replace(/\/?$/, "/");
const langBase = `${base}${language === "en" ? "en/" : ""}`;
---

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import Lenis from "lenis";

  gsap.registerPlugin(ScrollTrigger);

  //***************************************************/

  let lenis;

  function raf(time: number) {
    lenis.raf(time);
    requestAnimationFrame(raf);
  }

  function smoothScrollToAnchor(event: Event) {
    const anchorElement = (event.target as HTMLAnchorElement).closest("a");
    lenis.scrollTo(anchorElement.getAttribute("href"));
  }

  function getMenuAnchorLinks() {
    return document.querySelectorAll<HTMLAnchorElement>("a.menu-item.menu-anchor");
  }

  function init() {
    lenis = new Lenis();
    requestAnimationFrame(raf);
    // Menu smooth scroll event listeners are here because of lenis instance
    getMenuAnchorLinks().forEach((anchor) => anchor.addEventListener("click", smoothScrollToAnchor));
  }

  // OUT
  document.addEventListener("astro:before-swap", () => {
    getMenuAnchorLinks().forEach((anchor) => anchor.removeEventListener("click", smoothScrollToAnchor));
    lenis.destroy(); // Prevent lenis to scroll on next page

    let triggers = ScrollTrigger.getAll();
    triggers.forEach((trigger) => {
      trigger.kill();
    });
    ScrollTrigger.refresh();
  });

  // IN
  document.addEventListener("astro:after-swap", () => {
    init();
  });

  init();
</script>

<html lang={language} transition:animate={fade({ duration: "0.3s" })}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" type="image/x-icon" href=`/favicon.ico` />
    <link rel="icon" type="image/png" sizes="16x16" href=`/favicon-16x16.png` />
    <link rel="icon" type="image/png" sizes="32x32" href=`/favicon-32x32.png` />
    <link rel="icon" type="image/png" sizes="48x48" href=`/favicon-48x48.png` />
    <meta name="theme-color" content="#FFF" />
    <meta name="application-name" content="Pühajärve jaanituli 2024" />

    <link rel="canonical" href={langBase} />
    <link rel="alternate" hreflang="et" href={base} />
    <link rel="alternate" hreflang="en" href=`${base}en/` />
    <title>{title}</title>
    {data.description && <meta name="description" content={data.description} />}
    {data.keywords && <meta name="keywords" content={data.keywords.join(", ")} />}
    <meta name="robots" content={`${noindex ? "noindex" : "index"}, ${nofollow ? "nofollow" : "follow"}`} />
    <meta name="robots" content="max-image-preview:large" />
    <meta name="google" content="nositelinkssearchbox" />

    <!-- OPEN GRAPH -->
    {
      og && (
        <>
          <meta property="og:type" content="website" />
          <meta property="og:locale:alternate" content="et_EE" />
          <meta property="og:locale:alternate" content="en_GB" />
          <meta property="og:title" content={title} />
          <meta property="og:url" content={langBase} />
          {data.description && <meta property="og:description" content={data.description} />}
          {data.ogImage && <meta property="og:image" content={data.ogImage} />}
        </>
      )
    }

    <link rel="stylesheet" href="/lenis.css" />

    <!-- DISABLE FALLBACK, CONFLICTS WITH LENIS -->
    <ClientRouter fallback="none" />
  </head>

  <!-- SMOOTH SCROLL ONLY FOR ANCHOR NAVIGATION -->
  <!-- <body onload="document.documentElement.classList.add('smooth-scroll');" class="overflow-x-hidden"> -->
  <body class="overflow-x-hidden">
    <!-- FIREFOX! -->
    <script is:inline>
      true;
    </script>

    <slot />
  </body>
</html>
